<app-loading *ngIf="isLoading()"></app-loading>
<div class="loginView">
    <div class="loginContainer">
        <img src="../../../assets/img/portfolio.jpg" alt="porfolio">
        <form [formGroup]="form" (ngSubmit)="onSend($event)" class="loginForm">
            <div>
                <label for="username">Username</label>
                <input type="email" formControlName="mail" placeholder="Enter your mail">
            </div>
            <div>
                <label for="contrasenia">Password</label>
                <input type="password" formControlName="contrasenia" placeholder="Enter your password">
            </div>
            <div>
                <button type="submit" [disabled]="isLoading()">Login</button>
            </div>
            <a href="signup">Sign Up!</a>
        </form>
    </div>
</div>