<div class="signupPage">
    <div class="formContainer">
        <h1>Sign Up</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="col">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email">
            </div>
            <div class="col">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" formControlName="password" [(ngModel)]="pass.first">
            </div>
            <div class="col">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" [(ngModel)]="pass.last"  [ngClass]="{'incorrect' : !passValid}">
                <p *ngIf="!passValid" class="incorrect_warn">
                    Password does not match
                </p>
            </div>
            <div class="row">
                <div>
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" formControlName="firstName">
                </div>

                <div>
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" formControlName="lastName">
                </div>
            </div>
            <div class="row">
                <div>
                    <label for="country">Country</label>
                    <input type="text" id="country" name="country" formControlName="country">
                </div>

                <div>
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" formControlName="city">
                </div>
            </div>
            <div class="col">
                <label for="urlImage">Photo</label>
                <input type="url" id="urlImage" name="urlImage" formControlName="urlImage">
            </div>
            <button type="submit" [disabled]="!form.valid || !passValid">Sign Up</button>
        </form>
    </div>
</div>